<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
 
</head>
<body>
    <div class="banner">ASP.NET MVC Demo</div>
    <div class="menu">
        @Html.ActionLink("Validation","Add","Customer")
        &nbsp;
        @Html.ActionLink("Books", "List", "Book")
        &nbsp;
        @Html.ActionLink("Ajax", "Index", "Ajax")
    </div>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("myscripts", false)

    @Styles.Render("~/MyStyles")



</body>
</html>
